body{
  padding: 0;
  margin: 0;
}
.menu{
  display: flex;
  justify-content: right;
  background-color: goldenrod;
}
.bgcImage{
  width: 100%;
  height: 450px;
}
.menuItems{
  width: 200px;
  display: flex;
  align-items: start;
  cursor: pointer;
}
.menuItems h2{
  display: flex;
  align-items: center;
  color: #fff;
}
.menuItems h2:hover{
  color: darkred;
  transition: 1s;
}
.Menu_container{
  padding: 10px 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.eachMenu{
  padding: 0;
  margin: 15px 10px;
  width: 300px;
  height: 400px;
}
.menuImage {
  padding-top: 0;
  width: 100%;
  height: 200px;
}