.Menu_container{
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.eachMenu{
  padding: 0;
  margin: 10px 25px;
  width: 250px;
  height: auto;
}
.menuImage {
  padding-top: 0;
  width: 100%;
  height: 200px;
}